<center>
<img src="http://corpuslg.org/lael_english/wp-content/uploads/2020/04/lael_50_years_narrow_white.png.400px_300dpi.png" width="300" alt="LAEL 50 years logo">
<h3>APPLIED LINGUISTICS GRADUATE PROGRAMME (LAEL)</h3>
</center>
<hr>

# 'The Twitter Stream Grab' download and storage

## Test

In [3]:
import pandas as pd
df = pd.read_csv('date_list.csv', header = 0)

In [5]:
df

        Dates
0  2011-09-01
1  2011-09-02
2  2011-09-03
3  2011-09-04
4  2011-09-05